{% extends 'hotel/base.html' %}
{% load static %}

{% block content %}
<br><br>
<section class="text-center text-lg-start">
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <!-- Left image section -->
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="{% static 'img/pic3.jpg' %}"
             style="height: 1000px;" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" alt="Hotel Image"/>
      </div>
      <!-- Right form section -->
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <h2 class="my-4">Edit Hotel</h2>

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Hotel Name -->
            <div class="form-outline mb-4">
              <label for="id_name" class="form-label">Hotel Name</label><br>
              {{ form.name }}
            </div>

            <!-- Description -->
            <div class="form-outline mb-4">
              <label for="id_description" class="form-label">Description</label><br>
              {{ form.description }}
            </div>

            <!-- Image -->
            <div class="form-outline mb-4">
              <label for="id_image" class="form-label">Image</label><br>
              {{ form.image }}
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Save Changes</button>
          </form>

          <!-- Back to Hotel List -->
          <br>
          <a href="{% url 'hotel_list' %}" class="btn btn-secondary">Back to Hotel List</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
