{% extends 'hotel/base.html' %}
{% load static %}
{% block content %}
<h1 style="text-align: center;">Hotel List</h1>
{% if user.is_staff %}
    <a href="{% url 'hotel_add' %}" class="btn btn-outline-primary">Add Hotel</a>
{% endif %}

<section>
    <div>
        {% for hotel in hotels %}
        <div class="about lobster-font-family">
            <div class="containerss">
                <h2 class="text-center text-capitalize">{{ hotel.name }}</h2>
                <img src="{% static 'img/shape.png' %}" alt="Shape">
                
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <p>{{ hotel.description }}</p>
                        {% if user.is_staff %}
                            <div class="buttons">
                                <a href="{% url 'hotel_edit' hotel.pk %}" class="btn btn-outline-warning">Edit</a>
                                <a href="{% url 'hotel_delete' hotel.pk %}" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this hotel?');">Delete</a>
                            </div>
                        {% endif %}
                        <div class="buttons">
                        <a href="{% url 'room_list' hotel.pk %}" class="btn btn-outline-success">View Rooms</a>
                            <a href="{% url 'event_list' hotel.pk %}" class="btn btn-outline-primary btn-sm">View Events</a>
                            <a href="{% url 'service_list' hotel.pk %}" class="btn btn-outline-primary btn-sm">View Services</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-12">
                        <div class="img">
                            {% if hotel.image %}
                                <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}" class="img-fluid"/>
                            {% else %}
                                <p>No image available</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
