{% extends 'hotel/base.html' %}
{% load static %} 
{% block content %}
<section>
    <div class="row">
        <div class="col-md-6">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-8 fw-bold">Hotel Management</h1>
                    <p class="col-md-8 fs-9">The Website offers you a privileged experience combining comfort and conviviality.
                         Whether you are a backpacker, a solo traveler or with your family, our hotel with top-of-the-range 
                         service will meet all your expectations. More than just a hotel, It offers you a place to live and 
                         meet people.</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="card ">
                <div class="card-header"style="background-color: #e3f2fd;">
                    Pinned
                </div>
                <div class="card-body">
                    <h5 class="card-title">Select a hotel first</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card ">
                <div class="card-header"style="background-color: #e3f2fd;">
                    Pinned
                </div>
                <div class="card-body">
                    <h5 class="card-title">Check the available Rooms</h5>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}