{% extends 'hotel/base.html' %}

{% block content %}

<div class="container">
    <div class="body d-md-flex align-items-center justify-content-between">
        <div class="box-1 mt-md-0 mt-5">
            <img src="https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                class="" alt="">
        </div>
        <div class=" box-2 d-flex flex-column h-100">
            <div class="mt-5">
                <h1>Make a Reservation</h1>
                <form method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    
                    <div>
                        <label for="id_customer_name">Customer Name:</label><br>
                        {{ form.customer_name }}
                    </div>

                    <div>
                        <label for="id_customer_email">Customer Email:</label><br>
                        {{ form.customer_email }}
                    </div>

                    <div>
                        <label for="id_customer_phone">Customer Phone:</label><br>
                        {{ form.customer_phone }}
                    </div>


                    <div>
                        <label for="id_check_in">Check-In Date:</label><br>
                        {{ form.check_in }}
                    </div>

                    <div>
                        <label for="id_check_out">Check-Out Date:</label><br>
                        {{ form.check_out }}
                    </div>

                    <div>
                        <label for="id_room">Room:</label><br>
                        {{ form.room }}
                    </div>

                    <button type="submit">Book Reservation</button>

                </form>
            </div>
        </div>
    </div>
</div>




<script>

    var today = new Date().toISOString().split('T')[0];


    document.getElementById("id_check_in").setAttribute("min", today);
    document.getElementById("id_check_out").setAttribute("min", today);


    flatpickr("#id_check_in", { dateFormat: "Y-m-d" });
    flatpickr("#id_check_out", { dateFormat: "Y-m-d" });
</script>

{% endblock %}