<h1>Room Details: {{ room.name }}</h1>

<p>Status: {{ room.get_status_display }}</p>  

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Room</button>
</form>
{% extends 'hotel/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="body d-md-flex align-items-center justify-content-between">
        <div class="box-1 mt-md-0 mt-5">
            <img src="https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                class="" alt="">
        </div>
        <div class=" box-2 d-flex flex-column h-100">
            <div class="mt-5">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2>Room Details</h2>
                    <div class="form-group">{{ hotel.name }}
                    </div>
                    <div class="form-group">
                        <label for="id_name">Room Name</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <label for="id_description">Room Description</label>
                        {{ form.description }}
                    </div>
                    <div class="form-group">
                        <label for="id_price">Price</label>
                        {{ form.price }}
                    </div>
                    <label for="id_image">Image:</label><br>
                    <input type="file" name="image" id="id_image" accept="image/*"><br><br>

                    <button type="submit">Submit</button>
            </div>
        </div>

        {% endblock %}