{% extends 'hotel/base.html' %}
{% load static %}

{% block content %}
<br><br>
<section class="text-center text-lg-start">
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <!-- Left image section -->
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="https://images.pexels.com/photos/2033997/pexels-photo-2033997.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            style="height: 1000px;" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" alt="Room Image"/>
      </div>
      <!-- Right form section -->
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <h1 class="my-4">Edit Room in {{ hotel.name }}</h1>

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Room Name -->
            <div class="form-outline mb-4">
              <label for="id_name" class="form-label">Room Name</label><br>
              {{ form.name }}
            </div>

            <!-- Description -->
            <div class="form-outline mb-4">
              <label for="id_description" class="form-label">Description</label><br>
              {{ form.description }}
            </div>

            <!-- Price -->
            <div class="form-outline mb-4">
              <label for="id_price" class="form-label">Price</label><br>
              {{ form.price }}
            </div>

            <!-- Image -->
            <div class="form-outline mb-4">
              <label for="id_image" class="form-label">Image</label><br>
              {{ form.image }}
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Save Changes</button>
          </form>

          <!-- Back to Room List -->
          <br>
          <a href="{% url 'room_list' hotel_id=hotel.id %}" class="btn btn-secondary">Back to Room List</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
